{% extends '@WebuniAdmin/layout.html.twig' %}

{#{% form_theme form 'TbsMainBundle:Form:fields.html.twig' %}#}

{% block body %}
    {#{{ form_start(form) }}#}
    {#{{ form_errors(form) }}#}
    {#{{ form_row(form._username) }}#}

    {#{{ form_label(form._username) }}#}
    {#{{ form_widget(form._username) }}#}

    {#{{ form_row(form._password) }}#}
    {#{{ form_end(form) }}#}

    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button type="submit">login</button>
    </form>

    <p>
        <a href="{{ path('webuni_admin_user_registration') }}">Registrovat nového uživatele</a>
    </p>

{% endblock %}
