{% extends '@WebuniAdmin/layout.html.twig' %}

{% block body %}
    <h1>Nice dashboard</h1>
    <p>Klikni a pozdrav <a href="{{ path('webuni_admin_dashboard_hello', {name: 'Pavel'}) }}">Pavla</a></p>
{% endblock %}