{% extends '@WebuniAdmin/layout.html.twig' %}

{#{% form_theme form 'TbsMainBundle:Form:fields.html.twig' %}#}

{% block body %}

    <ul>
        {% for article in articles %}
            <li>
                {{ article.title }} {{ article.user.username }}
                <a href="{{ path('webuni_admin_article_show', {id: article.id}) }}">show</a>
                <a href="{{ path('webuni_admin_article_showacl', {id: article.id}) }}">show acl</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
