{% extends '@WebuniAdmin/layout.html.twig' %}

{#{% form_theme form 'TbsMainBundle:Form:fields.html.twig' %}#}

{% block body %}

    <h1>{{ article.title }}</h1>

    <p>{{ article.content }}</p>

{% endblock %}
