{% extends '@WebuniAdmin/layout.html.twig' %}

{#{% form_theme form 'TbsMainBundle:Form:fields.html.twig' %}#}

{% block body %}

    {{ form(form, {'attr' : {novalidate: 'novalidate'}}) }}

{% endblock %}
