{% extends '@WebuniAdmin/layout.html.twig' %}

{#{% form_theme form 'TbsMainBundle:Form:fields.html.twig' %}#}

{% block body %}

    <p>
        {{ message }}
    </p>

    <p>
        <a href="{{ path('webuni_admin_user_registration') }}">Registrovat nového uživatele</a>
    </p>

    <p>
        <a href="{{ path('webuni_admin_login_login') }}">Přihlásit se</a>
    </p>

{% endblock %}
